@page "/projectsimulation/{projectid:int}"
@using AzureApp.Shared
@inject HttpClient Http

<PageTitle>Project Simulations</PageTitle>

@if (project is not null)
{
    <h1>@project.Name > Simulations</h1>
    <p>The list of project Simulations</p>
}
else
{
    <h1>Simulations</h1>
    <p>The list of project simulations</p>
}

<p>
    <a href="/project" class="btn btn-secondary" role="button">
        <span class="oi oi-arrow-left" aria-hidden="true"></span> Return
    </a>
    <a href="/projectsimulation/@ProjectId/add" class="btn btn-primary" role="button">
        <span class="oi oi-plus" aria-hidden="true"></span> Create
    </a>
</p>

@if (model is not null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Proposal</th>
                <th>Description</th>
                <th>Design</th>
                <th>CreatedOn</th>
                <th>CurrencyCode</th>
                <th>Location</th>
                <th>Environment</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in model)
            {
                <tr>
                    <td>@item.Name</td>
                    <th>@item.Proposal</th>
                    <td>@item.Description</td>
                    <td>@item.ProjectDesign.Name</td>
                    <td>@item.CreatedOn</td>
                    <td>@item.CurrencyCode</td>
                    <td>@item.Location</td>
                    <td>@item.Environment</td>
                    <td>
                        
                        <a href="/projectestimate/@ProjectId/@item.Id" class="btn btn-outline-primary" role="button">Estimates</a>
                        <a href="/projectsimulation/@ProjectId/edit/@item.Id" class="btn btn-outline-dark" role="button">Edit</a>
                        <a href="/projectsimulation/@ProjectId/delete/@item.Id" class="btn btn-outline-dark" role="button">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p><em>Loading...</em></p>
}

@code {
    private AzureApp.Shared.Project? project;
    private AzureApp.Shared.ProjectSimulation[]? model;

    [Parameter]
    public int ProjectId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        project = await Http.GetFromJsonAsync<AzureApp.Shared.Project>($"{nameof(AzureApp.Shared.Project)}/{ProjectId}");
        model = await Http.GetFromJsonAsync<AzureApp.Shared.ProjectSimulation[]>($"{nameof(AzureApp.Shared.ProjectSimulation)}/all/{ProjectId}");
    }

    private async Task Calculate(int id)
    {
        //<button class="btn btn-primary" @onclick="(() => Calculate(item.Id))">Calculate</button>
        await Http.GetAsync($"{nameof(AzureApp.Shared.ProjectEstimate)}/calculate/{id}");
    }
}
