@page "/resourceunit/{resxid:int}/{rateid:int}"
@using AzureApp.Shared
@inject HttpClient Http
@inject NavigationManager NavigationManager

<PageTitle>Resource Units</PageTitle>

@if (resourceRate is not null)
{
    <h1>@resourceRate.Name > Units</h1>
    <p>The list of available resource units for @resourceRate.Name</p>
    <p>@resourceRate.Product - @resourceRate.Sku - @resourceRate.MeterName - @resourceRate.UnitOfMeasure</p>
}
else
{
    <h1>Resource Units</h1>
    <p>The list of available resource units for the rate</p>
}
<p>
    <a href="/resourcerate/@ResxId" class="btn btn-secondary" role="button">
        <span class="oi oi-arrow-left" aria-hidden="true"></span> Return
    </a>
    <a href="/resourceunit/@ResxId/@RateId/add" class="btn btn-primary" role="button">
        <span class="oi oi-plus" aria-hidden="true"></span> Create
    </a>
    <button class="btn btn-primary" @onclick="CreateDefaults">
        <span class="oi oi-star" aria-hidden="true"></span> Create Defaults
    </button>
    <button class="btn btn-primary" @onclick="CopyToOthers">
        <span class="oi oi-target" aria-hidden="true"></span> Copy To Others
    </button>
</p>

@if (model is not null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Unit of Measure</th>
                <th>System Unit</th>
                <th>Unit Factor</th>
                <th>Default Value</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in model)
            {
                <tr>
                    <td>@item.UnitOfMeasure</td>
                    <td>@item.SetupMeasureUnit.Name</td>
                    <td>@item.UnitFactor</td>
                    <td>@item.DefaultValue</td>
                    <td>@item.Description</td>
                    <td>
                        <a href="/resourceunit/@ResxId/@RateId/edit/@item.Id" class="btn btn-outline-dark" role="button">Edit</a>
                        <a href="/resourceunit/@ResxId/@RateId/delete/@item.Id" class="btn btn-outline-dark" role="button">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p><em>Loading...</em></p>
}

@code {
    private ResourceRate? resourceRate;
    private ResourceUnit[]? model;

    [Parameter]
    public int ResxId { get; set; }

    [Parameter]
    public int RateId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        resourceRate = await Http.GetFromJsonAsync<ResourceRate>($"{nameof(ResourceUnit)}/parent/{@RateId}");
        model = await Http.GetFromJsonAsync<ResourceUnit[]>($"{nameof(ResourceUnit)}/list/{@RateId}");
    }

    private async Task CreateDefaults()
    {
        model = await Http.GetFromJsonAsync<ResourceUnit[]>($"{nameof(ResourceUnit)}/create/{@RateId}");
        StateHasChanged();
    }

    private async Task CopyToOthers()
    {
        await Http.GetAsync($"{nameof(ResourceRate)}/copyto/{@RateId}");
        NavigationManager.NavigateTo($"/resourcerate/{ResxId}");
    }
}
