@page "/resourceunit/{resxid:int}/{rateid:int}/delete/{id:int}"
@using AzureApp.Shared
@inject NavigationManager NavigationManager
@inject HttpClient Http

<PageTitle>Resource Units</PageTitle>

<h1>Resource Units</h1>

<p>Delete a resouce unit.</p>
<p>
    <a href="/resourceunit/@ResxId/@RateId" class="btn btn-light" role="button">
        <span class="oi oi-arrow-left" aria-hidden="true"></span> Cancel
    </a>
</p>

@if (@model is not null)
{
    <EditForm EditContext="@editContext" OnValidSubmit="HandleSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="mb-3">
            <label for="UnitOfMeasure" class="form-label">Unit of Measure</label>
            <InputText @bind-Value="model.UnitOfMeasure" class="form-control" disabled="true" />
            <ValidationMessage For="@(() => model.UnitOfMeasure)" />
        </div>
         <div class="mb-3">
            <label for="SetupMeasureUnitId" class="form-label">System Unit</label>
            <InputText @bind-Value="model.SetupMeasureUnit.Name" class="form-control" disabled="true" />
            <ValidationMessage For="@(() => model.SetupMeasureUnitId)" />
        </div>
        <div class="mb-3">
            <label for="UnitFactor" class="form-label">Unit Factor</label>
            <InputNumber @bind-Value="model.UnitFactor" class="form-control" disabled="true" />
            <ValidationMessage For="@(() => model.UnitFactor)" />
        </div>
        <div class="mb-3">
            <label for="DefaultValue" class="form-label">Default Value</label>
            <InputNumber @bind-Value="model.DefaultValue" class="form-control" disabled="true" />
            <ValidationMessage For="@(() => model.DefaultValue)" />
        </div>
        <div class="mb-3">
            <label for="Description" class="form-label">Description</label>
            <InputText @bind-Value="model.Description" class="form-control" disabled="true" />
            <ValidationMessage For="@(() => model.Description)" />
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Delete</button>
            <button class="btn btn-light" @onclick="CancelItem">Cancel</button>
        </div>
    </EditForm>
}

@code {
    private EditContext? editContext { get; set; }
    private ValidationMessageStore? messageStore { get; set; }
    private AzureApp.Shared.ResourceUnit? model { get; set; }

    [Parameter]
    public int? ResxId { get; set; }

    [Parameter]
    public int? RateId { get; set; }

    [Parameter]
    public int? Id { get; set; }

    protected async override void OnInitialized()
    {
        model = await Http.GetFromJsonAsync<ResourceUnit>($"{nameof(ResourceUnit)}/details/{Id}") ?? new();
        editContext = new(model);
        messageStore = new(editContext);
        StateHasChanged();
    }

    private async Task HandleSubmit()
    {
        if (model is null || editContext is null)
            return;

        var response = await Http.DeleteAsync($"{nameof(AzureApp.Shared.ResourceUnit)}/{Id}");
        if (response.IsSuccessStatusCode)
        {
            NavigationManager.NavigateTo($"/resourceunit/{ResxId}/{RateId}");
            return;
        }

        if (messageStore is not null && editContext is not null)
        {
            var errors = await response.Content.ReadFromJsonAsync<Dictionary<string, List<string>>>() ?? new();
            if (errors.Any())
            {
                foreach (var keyValuePair in errors)
                {
                    foreach (var msg in keyValuePair.Value)
                    {
                        messageStore.Add(editContext.Field(keyValuePair.Key), msg);
                    }
                }
            }

            editContext.Validate();
        }

        StateHasChanged();
    }

    private void CancelItem()
    {
        NavigationManager.NavigateTo($"/resourceunit/{ResxId}/{RateId}");
    }
}
