@page "/projectmeasure/{projectid:int}/{designid:int}/{componentid:int}"
@using AzureApp.Shared
@inject HttpClient Http

<PageTitle>Project Components Measures</PageTitle>

@if (parent is not null)
{
    <h1>@parent.Name > Measures</h1>
    <p>The list of project design components measures</p>
}
else
{
    <h1>Project Component Measures</h1>
    <p>The list of project design components measures</p>
}

<p>
    <a href="/projectcomponent/@ProjectId/@DesignId" class="btn btn-secondary" role="button">
        <span class="oi oi-arrow-left" aria-hidden="true"></span> Return
    </a>
    <a href="/projectmeasure/@ProjectId/@DesignId/@ComponentId/add" class="btn btn-primary" role="button">
        <span class="oi oi-plus" aria-hidden="true"></span> Create
    </a>
    <button class="btn btn-primary" @onclick="CreateDefaults">Create Defaults</button>
</p>

@if (model is not null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Variable</th>
                <th>Measuring Unit</th>
                <th>Expression</th>
                <th>Description</th>
                <th>Remark</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in model)
            {
                <tr>
                    <td>@item.Variable</td>
                    <td>@item.SetupMeasureUnit.Name</td>
                    <td>@item.Expression</td>
                    <td>@item.Description</td>
                    <td>@item.Remark</td>
                    <td>
                        <a href="/projectmeasure/@ProjectId/@DesignId/@ComponentId/edit/@item.Id" class="btn btn-outline-dark" role="button">Edit</a>
                        <a href="/projectmeasure/@ProjectId/@DesignId/@ComponentId/delete/@item.Id" class="btn btn-outline-dark" role="button">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p><em>Loading...</em></p>
}

@code {
    private AzureApp.Shared.ProjectComponent? parent;
    private AzureApp.Shared.ProjectMeasure[]? model;

    [Parameter]
    public int ProjectId { get; set; }

    [Parameter]
    public int DesignId { get; set; }

    [Parameter]
    public int ComponentId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        parent = await Http.GetFromJsonAsync<AzureApp.Shared.ProjectComponent>($"{nameof(AzureApp.Shared.ProjectComponent)}/item/{ComponentId}");
        model = await Http.GetFromJsonAsync<AzureApp.Shared.ProjectMeasure[]>($"{nameof(AzureApp.Shared.ProjectMeasure)}/all/{ComponentId}");
    }

    private async Task CreateDefaults()
    {
        model = await Http.GetFromJsonAsync<ProjectMeasure[]>($"{nameof(ProjectMeasure)}/create/{@ComponentId}");
        StateHasChanged();
    }
}
