@page "/resource"
@using AzureApp.Shared
@inject HttpClient Http

<PageTitle>Resources</PageTitle>

<h1>Resources</h1>

<p>The list of available resources</p>

<p>
    <a href="/resource/add" class="btn btn-primary" role="button">
        <span class="oi oi-plus" aria-hidden="true"></span> Create
    </a>
</p>

@if (model is not null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>CostDriver</th>
                <th>CostBasedOn</th>
                <th>Service</th>
                <th>Category</th>
                <th>Product</th>
                <th>Size</th>
                <th>Remarks</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.CostDriver</td>
                    <td>@item.CostBasedOn</td>
                    <td>@item.Service</td>
                    <td>@item.Category</td>
                    <td>@item.Product</td>
                    <td>@item.Size</td>
                    <td>@item.Remarks</td>
                    <td>
                        <a href="/resource/view/@item.Id" class="btn btn-outline-dark" role="button">View</a>
                        <a href="/resource/edit/@item.Id" class="btn btn-outline-dark" role="button">Edit</a>
                        <a href="/resource/delete/@item.Id" class="btn btn-outline-dark" role="button">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p><em>Loading...</em></p>
}

@code {
    private AzureApp.Shared.Resource[]? model;

    protected override async Task OnInitializedAsync()
    {
        model = await Http.GetFromJsonAsync<AzureApp.Shared.Resource[]>(nameof(AzureApp.Shared.Resource));
    }
}
